html {
	background-color: #a3a3a3;
	font-family: Courier New;
	text-align: center;
	align-content: center;
	height: 100%;
}

h1, h2 {
	color: #78e38c;
	font-family: 'Courier New';
}

table {
	border: 0px;
}

td {
	height: 400px;
	width: 1000px;
	background-color: #000000;
	color: #a3a3a3;
	padding: 10px;
}

#map {
	height: 100%;
	width: 100%;
}

body {
	align-content: center;
	height: 100%;
	margin: 0;
	padding: 0;
  }