h1, h2 {
	color: #78e38c;
	font-family: 'Courier New';
}

table {
	margin: auto;
}

#map {
	height: 400px;
	width: 100%;
	padding: 0;
}

.mapTr{
	height: 400px;
	width: 100%;
	padding: 0;
}

td {
	height: 100%;
	width: 800px;
	padding: 5px;
	background-color: #000000;
	color: #a3a3a3;
}

body {
	background-image: url("C:\\Users\\iamto\\Documents\\GitHub\\udemy-web-dev\\assets\\nasa.jpg");
	background-size: cover;
	background-blend-mode: normal;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000000;
}

html {
	font-family: 'Courier New';
	text-align: center;
	height: 100%;
	margin: 20px 100px 20px 100px;
}